<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>

<body>
     <div class="container">
          <div class="row bg-light py-3 rounded my-3">
               <div class="col-12">
                    <h3 class="text-primary text-center text-lg-left pl-4"><i class="fa fa-newspaper" aria-hidden="true"></i>
                         Tin mới</h3>
                    <hr>
               </div>
               <div class="col-lg-9 my-1 mx-auto">
                    <a href="#" style="text-decoration: none;">
                         <img class="w-100 rounded" src="https://photo-2-baomoi.zadn.vn/w700_r16x9_sm/2020_06_11_30_35343568/504d9b96d1d5388b61c4.jpg" alt="">
                         <h2 class="font-weight-mediun">Thủ tướng: 'Rút ví nộp phạt hàng chục triệu đồng thì mới nâng cao ý thức'</h2>
                         <p class="text-dark">Thủ tướng đề nghị xem xét nên có nghị định tương tự Nghị định 100/2019/NĐ-CP với chế tài nghiêm khắc trong...</p>
                         <span class="text-dark">Giao Thông 2 giờ</span>
                    </a>
               </div>
               <div class="col-lg-3 my-1 mx-auto" style="border-left: #ddd solid 1px;">
                    <a href="#" class="mb-4" style="text-decoration: none;">
                         <div class=" mb-4">
                              <img class=" w-100 rounded" src="https://photo-2-baomoi.zadn.vn/w700_r16x9_sm/2020_06_11_30_35343568/504d9b96d1d5388b61c4.jpg" alt="">
                              <h4 class="d-block">Thủ tướng: 'Rút ví nộp phạt hàng chục triệu đồng thì mới nâng cao ý thức'</h4>
                              <span class="text-dark">Giao Thông 2 giờ</span>
                         </div>
                    </a>
                    <a href="#" class="mb-4" style="text-decoration: none;">
                         <div class=" mb-4">
                              <img class=" w-100 rounded" src="https://photo-2-baomoi.zadn.vn/w700_r16x9_sm/2020_06_11_30_35343568/504d9b96d1d5388b61c4.jpg" alt="">
                              <h4 class="d-block">Thủ tướng: 'Rút ví nộp phạt hàng chục triệu đồng thì mới nâng cao ý thức'</h4>
                              <span class="text-dark">Giao Thông 2 giờ</span>
                         </div>
                    </a>
               </div>
          </div>

     </div>
     <div class="container">
          <div class="row bg-light py-3 rounded my-3">
               <div class="col-lg-12 my-1 mx-auto pb-4 mb-4" style="border-bottom: #ddd solid 1px;">
                    <a href="#" class="mb-4" style="text-decoration: none;">
                         <div class=" row">
                              <div class="col-lg-3">
                                   <img class=" w-100 rounded" src="https://photo-2-baomoi.zadn.vn/w700_r16x9_sm/2020_06_11_30_35343568/504d9b96d1d5388b61c4.jpg" alt="">
                              </div>
                              <div class="col-lg-9">
                                   <h4 class=" d-block">Thủ tướng: 'Rút ví nộp phạt hàng chục triệu đồng thì mới nâng cao ý thức'</h4>
                                   <span class="text-dark">Giao Thông 2 giờ</span>
                              </div>
                         </div>
                    </a>
               </div>
          </div>
     </div>
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>